
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600&display=swap');

.font{
    font-family: 'Gabarito', sans-serif;
}

.links-nav{
    font-size: 20px;
    padding-bottom: 10px;
}

:root {
    --toastify-color-success: #7ECABC;
    --toastify-color-error: #fe4a49;
}

.marginForSections{
    margin-top: 30px;
    margin-bottom: 30px;
}

.marginForBlocks{
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.cardForCollection{
    display: flex;
    justify-content: center;
    max-width: 1300px;
    background-color: rgba(193,65,105,0.5);
    border-radius: 5px;
}

.titles{
    margin:10px;
    font-size: 50px;
    text-align: center;
}


 .animated{
    animation: bounce2 2s ease infinite;
    animation-delay: 10s;
    animation-iteration-count: 3;
}
@keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-30px);}
	60% {transform: translateY(-15px);}
}


  .accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #c14169;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion{
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(253, 13, 141, 0.25);
}

.radiusimagefaq{
    border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
}

.footer{
    background-color: #c14169;
    color:white;
    padding: 5px;
}

.footerspace{
    margin-top: 50px;
}

.footer a{
    text-decoration: none;
    color:rgba(255, 255, 255, 0.5);
}

.white a{
    color:white;
}